*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chillax', sans-serif;
}
:root{
    --bg-color:#0f0e17;
    --text-color:#a7a9be;
    --btn-color:#ff8906;
    --white:#fffffe;
    --black:#000;
}
.container {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--bg-color);
}
.todo-form{
    height: 600px;
    width: 800px;
    background-color: var(--white);
    border-radius: 0.3rem;
    overflow: hidden;
    overflow-y: scroll;
}
.todo-form .title{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1rem 0 0 3rem;
    display: flex;
    align-items: center;
}
.todo-form .title i{
    margin-right: 1rem;
}
#new-task{
    border-bottom: 1px solid var(--black);
    padding: 1rem 3rem;
    display: flex;
}
.task-input{
    outline: none;
    width: 100%;
    height: 3.3rem;
    border: none;
    border-bottom: 2px solid var(--bg-color);
}
.task-input::placeholder{
    font-size: 2rem;
    color: var(--text-color);
}
button{
    transform: translateX(-10px) translateY(-5px);
    background: var(--btn-color);
    color: var(--white);
    font-weight: bold;
    border:none;
    border-radius: 0.2rem;
    padding: 1rem  2rem;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s ease-in;
}
button:hover{
    transform: translateX(10px) scale(1.1);
}
#tasks{
    border-bottom: 1px solid var(--black);
    padding: 0 1rem;
    width: 100%;
    padding: 2rem 1rem;
    margin-top: 1rem;
}
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task span{
    color: var(--text-color);
    font-size: 1.2rem;
}